<div class="container">
  <div class="row">
    <div class="col-6">
      <h1 class="text-white">Tecnotrust</h1>
      <label class="text-white">Ingresa un número</label>
      <input type="number" class="form-control" name="numeroIngresadro" [(ngModel)]="numeroIngresado">
      <button (click)="mostrarMultiplos()" class="btn btn-primary mt-3">Mostrar Multiplos</button>
    <p class="h2 text-white">Número: {{numeroIngresado}}</p>
    <p class="text-white">Resultado:{{this.auxNumero}}</p>
    </div>
  </div>
</div>
